@page
@model Web.Pages.BiliDynamicModel
@{
    ViewBag.Title = "动态：" + @Model.Dynamic.DynamicId;
}

<div class="row justify-content-center">
    <div class="col-1"><img src="@Model.Up.Avatar" class="rounded" style="width: 68px; height:68px" alt="Avatar"/></div>
    <div class="col-2">
        <div class="row">@Model.Up.Username</div>
        <div class="row">@Model.Dynamic.Time.ToLocalTime()</div>
        <div class="row">❤ @Model.Dynamic.Like 👁 @Model.Dynamic.View</div>
    </div>
    <div class="col text-wrap">
        @Model.Dynamic.Description
    </div>
    <div class="col-1">
        <div class="row"><a href="https://t.bilibili.com/@Model.Dynamic.DynamicId" class="btn btn-primary" target="_blank">传送门</a></div>
    </div>
</div>

<div class="row">
    <component type="typeof(ReplyPagination)" render-mode="Server" param-ThreadId=@Model.Dynamic.ThreadId/>
</div>
