@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Mzr</h1>
</div>

<div class="row justify-content-center">
    <div class="col">
    <table class="table table-hover table-striped">
        <thead class="table-info">
            <tr>
                <th scope="col" class="col-2">UP</th>
                <th scope="col" class="col-1">动态</th>
                <th scope="col" class="col-1">评论</th>
                <th scope="col" class="col-2">时间</th>
            </tr>
        </thead>
        <tbody>
   @foreach(var user in Model.GlobalStats.MonitorUsers.Values)
    {
            <tr>
                <th scope="row">
                    <a href="/BiliUser/?userId=@user.UserId"  target="_blank" class="text-decoration-none">
                        @user.Username
                    </a>
                </th>
                <td>@user.DynamicCount</td>
                <td>@user.ReplyCount</td>
                <td>@user.UpdateTime?.ToLocalTime()</td>
            </tr>
    }
        </tbody>
    </table>
    </div>

    <form class="row py-3">
    <div class="col-2 p-0">
        <select class="form-select" name="queryType">
            <option selected value="userId">用户UID</option>
            <option value="username">用户名</option>
            <option value="replyContent">评论</option>
            <option value="dynamicContent">动态</option>
            <option value="dynamicId">动态ID</option>
        </select>
    </div>
    <div class="col-9 p-0">
        <input type="text" class="form-control" name="queryInput"/>
    </div>
    <div class="col-1 p-0 btn-group">
        <button type="submit" class="btn btn-primary" stype="width: 100%">搜索</button>
    </div>
    </form>

    <div class="row col px-0">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">用户评论数量</li>
                <li class="list-group-item">
                    <table class="table">
                        <tbody>
                            @foreach(var tuple in Model.GlobalStats.MostReplyUsers)
                            {
                                <tr>
                                    <td>
                                        <a href="/BiliUser/?userId=@tuple.Item2" target="_blank" class="text-decoration-none">
                                            @(tuple.Item3?.Username ?? tuple.Item2.ToString())
                                        </a>
                                    </td>
                                    <td>@tuple.Item1</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>

        <div class="col-8">
           <ul class="list-group">
                <li class="list-group-item active">最新动态</li>
                <li class="list-group-item">
                    <table class="table">
                        <tbody>
                            @foreach(var item in Model.GlobalStats.LatestDynamics)
                            {
                                <tr>
                                    <td>@item.Item1.Username</td>
                                    <td>@item.Item2.Time.ToLocalTime()</td>
                                    <td class="text-truncate" style="max-width: 30rem" title="@item.Item2.Description">
                                        <a href="/BiliDynamic/?dynamicId=@item.Item2.DynamicId" target="_blank" class="text-decoration-none">
                                        @item.Item2.Description</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>

</div>
